@{
    ViewData["Title"] = "Event Ease";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="CSS/Hm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-
iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>
<body>
    <section class="header">
        <nav class="navbar">
            <a class="logo">EVENT EASE</a>
            <div class="nav-links">
                <ul>
                    <li class="active">
                        <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="">ABOUT US</a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="">CATEGORY</a></li>
                   
                    <li><a asp-area="" asp-controller="Home" asp-action="">NEW EVENT</a></li>
                   
                    <li><a asp-area="" asp-controller="Login" asp-action="Logout">LOGOUT </a></li>
                    
                    <li><a asp-area="" asp-controller="Login" asp-action="Index">REGISTER/LOGIN</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <p>"At EventEase,we believe in simplifying the extraordinary.From conception to celebration,we're your partners in crafting unforgettable events with ease."</p>
            <a href="inspiration.html" class="hero-btn">LETS GO</a>
        </div>
    </section>

    <section class="second">
        <h1>__________RECOMMENDED FOR YOU__________</h1>
        <div class="row">
            <div class="second-col">
                <img src="~/img/fest.jpg" width="100%" height="100%">
                <div class="layer"><h3>Music Festival.</h3></div>
            </div>
            <div class="second-col">
                <img src="~/img/sport.jpg" width="100%" height="100%">
                <div class="layer"><h3>Sports Event.</h3></div>
            </div>
            <div class="second-col">
                <img src="~/img/carnival.jpg" width="100%" height="100%">
                <div class="layer"><h3>Cultural Parade or Carnival.</h3></div>
            </div>
            <div class="second-col">
                <img src="~/img/film.jpg" width="100%" height="100%">
                <div class="layer"><h3>Film Festival. </h3></div>
            </div>
            <div class="second-col">
                <img src="~/img/food.jpg" width="100%" height="100%">
                <div class="layer"><h3>Food Festival.</h3></div>
            </div>
        </div>
    </section>

    <section class="third">
        <h1>Popular</h1>
        <p>Here are the best events that you will surely enjoy!</p>
    </section>
    <section class="fourth">
        <div class="main">
            <img class="main" src="~/img/event.png">
            <div class="about-text">
                <h2>Best review ever</h2>
            </div>
        </div>
    </section>

    <div class="testimonials">
        <div class="inner">
            <h1>Patient's Reviews</h1>
            <div class="borde"></div>

            <div class="row">
                <div class="col">
                    <div class="testimonial">
                        <img src="~/img/review1.jpg" alt="">
                        <div class="name">James Anderson</div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>
                            My experience at Priority Hospital was nothing short of exceptional. The medical team was prompt, thorough, and took the time to explain every aspect of my treatment plan. The facilities are state-of-the-art, creating a comfortable environment for patients. What stood out the most was the personalized care I received; the doctors and nurses showed genuine concern for my health, making me feel confident and reassured throughout my stay.
                        </p>

                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="~/img/review1.jpg" alt="">
                        <div class="name">Sarah Thompson</div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>
                            I recently had the opportunity to receive medical care at Priority Hospital, and I am incredibly impressed with the level of service and professionalism. The staff was not only knowledgeable and efficient but also demonstrated genuine compassion and empathy. The facility is well-maintained, and the medical team went above and beyond to ensure my comfort and well-being. I highly recommend Priority Hospital for anyone seeking high-quality healthcare with a personal touch.
                        </p>

                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="~/img/review2.jpg" alt="">
                        <div class="name">Andrew Rodriguez</div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p>
                            I cannot express enough gratitude for the outstanding care I received at Priority Hospital. From the moment I walked in, I was greeted with warmth and professionalism. The medical staff exhibited a high level of expertise, and their commitment to patient satisfaction was evident. The facility is equipped with modern technology, and the cleanliness is impeccable. My overall experience surpassed my expectations, and I would recommend Priority Hospital to anyone.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="icons">
            <div class="social">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="copyright">
                <p>&copy; 2023 Faculty of Natural Sciences, all rights reserved.</p>
            </div>
        </div>
    </footer>

  </body>
  </html>